* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lexend deca;
    background-color: hsl(0, 0%, 95%);
}

.three-columns {
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    max-height: 475px;
    align-items: stretch;
}

.three-columns p {
    color: hsla(0, 0%, 100%, 0.75);
} 

.col-one {

    background-color: hsl(31, 77%, 52%);
    /*max-width: 285px;*/
    width: 30%;
    background-image: url("/images/icon-luxury.svg");
    background-repeat: no-repeat;
    
}

.col-two {
    background-color: hsl(184, 100%, 22%);
    width: 30%;

}

.col-three {
    background-color: hsl(179, 100%, 13%);
    width: 30%;

}