* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lexend deca;
    background-color: hsl(0, 0%, 95%);
}

.box {
    border-radius: ;
}

.three-columns {
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    margin-left: 242px;
    
    
    
    
}

.three-columns p {
    color: hsla(0, 0%, 100%, 0.75);
   /* padding-top: 35px;
    padding-bottom: 80px;
    padding-left: 39px;
    padding-right: 65px;
    align-items: center;*/
    padding: 40px;
} 

img {
    margin: 43px;
    
}

heading {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 36px;
    
    text-transform: uppercase;
    font-family: big shoulders display;
}

.col-one {

    background-color: hsl(31, 77%, 52%);
    /*max-width: 285px;*/
    width: 22%;
    
    
}

.col-two {
    background-color: hsl(184, 100%, 22%);
    width: 22%;

}

.col-three {
    background-color: hsl(179, 100%, 13%);
    width: 22%;

}

button {
    border-radius: 50px;
    padding: 18px 30px;
    align-items: center;
    margin-bottom: 50px;
    border: none;
}

.sedan-btn {
    color:hsl(31, 77%, 52%);
}

.suv-btn {
    color: hsl(184, 100%, 22%);
}

.luxury-btn {
    color:hsl(179, 100%, 13%)
}